* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-tt {
  height: 4rem;
  width: auto;
}

.bg-dark {
  background-color: #242734 !important; 
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(3, 221, 255) !important;
}


@media (max-width: 992px) {
  .navbar-collapse{
    padding-left: 10px;
  }
}