* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-tt {
  height: 4rem;
  width: auto;
}

.bg-dark {
  background-color: #242734 !important; 
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(3, 221, 255) !important;
}

.navbar-toggler {
  width: 5rem;
}


@media (max-width: 992px) {
  
  .navbar-collapse{
    padding-left: 10px;
    
  }
  .navbar-toggler {
    position: absolute !important;
    right: 10px !important;
    top: 14px !important;
}
}