* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.faq-title {
    color: rgb(3, 221, 255);
}

.faq-play-button {
    height: 10rem;
}

.faq-play-button:hover {
    opacity: 0;
}
.fade {
    background: #1c1c1c;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

.title-sul {
    color: rgb(3, 221, 255);
}

.no-bootstrap {
    margin: 0;
    width: 100%;
}

nav {
    background-color: #242734;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin-top: 1rem;
    display: flex;
}

.nav-list > li {
    list-style: none;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: rgb(3, 221, 255);
    text-decoration: none;
}

.logo-nav {
    height: 5rem;
    margin-left: 2rem;
    display: flex;
    align-items: flex-start;
}

.logo-page {
    height: 200px;
    padding-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.button-input {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(181, 181, 181);
    color: white;
    font-weight: bold;
    border: 0;
}

.button-input:hover {
    background-color: rgb(3, 221, 255);
}

input {
    color: white;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(3, 221, 255);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  
    ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(211, 211, 211, 0.77);
  }
  
    :-moz-placeholder {
    text-align: center;
  }

.input-page {
    height: 50rem;
}

main {
    background-color: #1c1c1c;
    color: white;
    display: inline-block;
    width: 100%;
}

.signup-option {
    margin-top: 3rem;
    margin-left: -1rem;
}

.signup-link {
    padding-left: 6rem;
    text-decoration: none;
    color: rgb(3, 221, 255);
}

.signup-link:hover {
    color: white;
}

footer {
    background-color: #242734;
    color: white;
    display: flex;
    height: 15rem;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
}

.credits > p > a {
    color: rgb(3, 221, 255);
    font-size: 1rem;
    text-decoration: none;
}

.credits > p > a:hover {
    color: white;
    text-decoration: none;
}

.deezer-logo {
    height: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: flex-end;
}
