* {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

main {
    background-color: #1c1c1c;
    color: white;
    display: inline-block;
    width: 100%;
}

@media (max-width: 320px) {
    h1 {
        font-size: 1rem;
    }

    main {
        width: 100%;
        min-height: 500px;
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: 1rem;
    }

    main {
        width: 100%;
        min-height: 600px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    main {
        min-height: 1000px;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2rem;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    main {
        background-color: #1c1c1c;
        color: white;
        display: inline-block;
        width: 100%;
        min-height: 1000px;
    }
}

/* Genre buttons */
.genre-buttons-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.genre-buttons {
    margin: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(3, 221, 255);
    color: white;
    font-weight: bold;
    border: 0;
}

.genre-buttons:hover {
    background-color: rgb(181, 181, 181); 
}

@media (max-width: 320px) {
    
    .genre-buttons {
        width: 60px;
        height: 50px;
        font-size: 0.5rem;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
    }
}

@media (min-width: 320px) {
    
    .genre-buttons {
        width: 60px;
        height: 50px;
        font-size: 0.5rem;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
    }
}

@media (min-width: 600px) {
    .genre-buttons {
        width: 80px;
        height: 70px;
        font-size: 0.7rem;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
    }
}

@media (min-width: 600px) {
    .genre-buttons {
        width: 100px;
        height: 90px;
        font-size: 0.8rem;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
    }
}

@media (min-width: 1000px) {
    .genre-buttons {
        width: 150px;
        height: 120px;
        font-size: 1rem;
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
    }

    .genre-buttons-div {
        padding: 4rem;
    }
}

/* FAQ page */
.faq-title {
    color: rgb(3, 221, 255);
}

.faq-main {
    padding-right: 2rem;
    padding-left: 2rem;
}

.faq {
    padding-bottom: 2rem;
}


.outer {
    width: 70px;
    height: 4rem;
    overflow: hidden;
    color: white;
    border: 1px solid red;
    transition: width 2s;
}

.button-play {
  display:inline-block;
  padding-bottom: 6rem;
}

.outer:hover {
  width: 100%;
  white-space: nowrap;
}
.outer .inner {
  color: white;
}

.outer:hover .inner {
  font-size: 15px;
  color: white;
  display:inline-block;
  transition: font-size 0s 2s;
}


.faq-play-button {
    opacity: 1;
    position: absolute;
}

.faq-play-button:hover {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}


  @media (max-width: 320px) {
    .faq-main {
        height: 100%;

    }

    .question {
        font-size: 1rem;
    }

    .faq {
        font-size: 0.7rem;
    }
    
    .faq-play-button {
        height: 4rem;
        width: auto;
    }
}

  @media (min-width: 320px) {
    .faq-main {
        height: 100%;
    }

    .question {
        font-size: 1rem;
    }

    .faq {
        font-size: 0.7rem;
    }
    
    .faq-play-button {
        height: 4rem;
        width: auto;
    }
}

@media (min-width: 768px) {
    .faq {
        font-size: 0.8rem;
    }
    .faq-play-button {
        height: 7rem;
    }
}

@media (min-width: 1000px) {
    .faq-main {
        height: 100%;
    }
    
    .question {
        font-size: 1.4rem;
        padding-bottom: 2rem;
    }

    .faq {
        padding-bottom: 5rem;
    }

    .faq-play-button {
        height: 8rem;
    }
}

/* No bootstrap pages width */
.no-bootstrap {
    margin: 0;
    width: 100%;
}

/* random songs */
.random-main {
    min-height: 800px;
    padding-top: 4rem;
}

.shuffle-button {
    background-color: #1c1c1c;
    border: 0;
    height: 10rem;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .shuffle-button {
        height: 6rem;
        width: auto;
    }
}

/* Log In & Submit pages */

.logo-page {
    height: 200px;
    width: auto;
    padding-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px){
    .logo-page {
        height: 300px;
        width: auto;
        padding-top: 3rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.title-sul {
    font-size: 1rem;
    color: rgb(3, 221, 255);
}

.input-section {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 320px) {
    .title-sul {
        font-size: 1rem;
    }
    
    .input-section {
        font-size: 0.7rem;
        display: block;
        margin: auto;
        max-width: 17rem;
    }

    .form-inputs {
        width: 17rem;
    }
}

@media (min-width: 320px) {
    .title-sul {
        font-size: 1rem;
    }
    
    .input-section {
        font-size: 0.7rem;
        display: block;
        margin: auto;
        max-width: 17rem;
    }

    .form-inputs {
        width: 17rem;
    }
}

@media (min-width: 600px) {
    .title-sul {
        font-size: 1.5rem;
    }
    
    .input-section {
        font-size: 1rem;
        display: block;
        margin: auto;
        max-width: 25rem;
    }

    .form-inputs {
        width: 25rem;
    }
}

@media (min-width: 768px) {
    .title-sul {
        font-size: 1.8rem;
    }

    .input-section {
        font-size: 1rem;
        display: block;
        margin: auto;
        max-width: 30rem;
    }

    .form-inputs {
        width: 30rem;
    }
}

.button-input {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(181, 181, 181);
    color: white;
    font-weight: bold;
    border: 0;
}

.button-input:hover {
    background-color: rgb(3, 221, 255);
}

input {
    color: white;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(3, 221, 255);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  
    ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(211, 211, 211, 0.77);
  }
  
    :-moz-placeholder {
    text-align: center;
  }

.input-page {
    height: 50rem;
}

.signup-option {
    margin-top: 3rem;
    margin-left: -1rem;
}

.signup-link {
    padding-left: 6rem;
    text-decoration: none;
    color: rgb(3, 221, 255);
}

.signup-link:hover {
    color: white;
}

.message-container > p {
    width: 25rem;
    color: rgb(227, 34, 34);
    text-align: center;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.success-container > p {
    width: 25rem;
    color: rgb(3, 221, 255);
    text-align: center;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 320px) {
    .signup-option {
        font-size: 0.6rem;
        display: block;
        margin: auto;
        padding-top: 1rem;
        max-width: 16rem;
    }

    .message-container > p {
        width: 17rem;
        margin-top: 0.5rem;
    }

    .success-container > p {
        width: 17rem;
        margin-top: 0.5rem;
    }
}

@media (min-width: 320px) {
    .signup-option {
        font-size: 0.6rem;
        display: block;
        margin: auto;
        padding-top: 1rem;
        max-width: 16rem;
    }

    .message-container > p {
        width: 17rem;
        margin-top: 0.5rem;
    }

    .success-container > p {
        width: 17rem;
        margin-top: 0.5rem;
    }
}

@media (min-width: 600px) {
    .signup-option {
        font-size: 0.9rem;
        display: block;
        margin: auto;
        padding-top: 2rem;
        max-width: 21rem;
    }

    .message-container > p {
        width: 25rem;
        margin-top: 0.7rem;
    }

    .success-container > p {
        width: 25rem;
        margin-top: 0.7rem;
    }
}

@media (min-width: 768px) {
    .signup-option {
        font-size: 0.9rem;
        display: block;
        margin: auto;
        padding-top: 2rem;
        max-width: 23rem;
    }
    
    .message-container > p {
        width: 30rem;
        margin-top: 1rem;
    }

    .success-container > p {
        width: 30rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1000px) {
    .signup-option {
        font-size: 1rem;
    }
}

/* Footer section*/

footer {
    background-color: #242734;
    color: white;
    display: flex;
    height: 15rem;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
}

.credits > p > a {
    color: rgb(3, 221, 255);
    font-size: 1rem;
    text-decoration: none;
}

.credits > p > a:hover {
    color: white;
    text-decoration: none;
}

.deezer-logo {
    height: 4rem;
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 320px) {
    footer {
        font-size: 0.5rem;
        height: 5rem;
        padding-left: 2.5rem;
        padding-top: 0.5rem;
    }
    
    .credits > p > a {
        font-size: 0.5rem;
    }

    .credits > p {
        line-height: 0;
    }

    .deezer-logo {
        height: 1.5rem;
        width: auto;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }
}

@media (min-width: 320px) {
    footer {
        font-size: 0.5rem;
        height: 5rem;
        padding-left: 2.5rem;
        padding-top: 0.5rem;
    }
    
    .credits > p > a {
        font-size: 0.5rem;
    }

    .credits > p {
        line-height: 0;
    }

    .deezer-logo {
        height: 2.2rem;
        width: auto;
        padding-bottom: 0.5rem;
        padding-left: 3rem;
    }
}

@media (min-width: 600px) {
    footer {
        font-size: 0.6rem;
        padding-left: 4.5rem;
        padding-top: 0.7rem;
        padding-right: 0;
    }

    .credits > p > a {
        font-size: 0.6rem;
    }

    .deezer-logo {
        height: 3rem;
        border-right: 0;
        padding-left: 3rem;
    }
}

@media (min-width: 768px) {
    footer {
        height: 10rem;
        font-size: 0.8rem;
    }

    .credits > p > a {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .credits > p {
        line-height: 1rem;
    }

    .deezer-logo {
        height: 4rem;
    }
}

@media (min-width: 1000px) {
    footer {
        background-color: #242734;
        color: white;
        display: flex;
        font-size: 1rem;
        height: 14rem;
        margin-bottom: 0;
        margin-top: 0;
        justify-content: space-around;
        align-items: center;
        padding-left: 7rem;
    }
    
    .credits > p > a {
        color: rgb(3, 221, 255);
        font-size: 1rem;
        line-height: 1.2rem;
        text-decoration: none;
    }

    .credits > p {
        line-height: 1.2rem;
    }
    
    .credits > p > a:hover {
        color: white;
        text-decoration: none;
    }
    
    .deezer-logo {
        height: 4rem;
        padding-left: 15rem;
        display: flex;
        justify-content: flex-end;
    }
}